[submodule "public"]
	path = public
	url = git@github.com:geoffholden/GeoffHolden.com.git
	branch = gh-pages
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
