AddType x-mapp-php5 .php

# BEGIN Custom mod_rewrite rules

# Direct display anything that's a real file
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [L]

# Redirect old resume URL to resume.geoffholden.com
RewriteRule ^resume.html http://resume.geoffholden.com/ [R=permanent,L]

# Social Network Shortcuts
RewriteRule ^(g|google)?plus/? https://plus.google.com/116157226367039341889/about [R=302,L]
RewriteRule ^flickr/? http://www.flickr.com/photos/geoffholden/ [R=302,L]
RewriteRule ^500(px)?/? http://500px.com/geoffholden [R=302,L]
RewriteRule ^twitter/? http://twitter.com/gholden/ [R=302,L]

# Admin Link Shortcut
RewriteRule ^admin/? /wordpress/wp-admin/ [R=permanent,L]

# Add the trailing slashes
RewriteRule ^(.+[^/])$ /$1/ [R=permanent,L]

# END Custom mod_rewrite rules


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
