body {
   background-image: url('woodgrain.jpg');
   font-family: 'Reenie Beanie', cursive, sans-serif;
   font-size: 200%;
   color: #242358;
}
h1 {
   font-weight: normal;
}

a {
   text-decoration: none;
   color: inherit;
}

p + p {
   margin-top: 1em;
}

#page {
   background-color: #feff8a;
   max-width: 800px;
   width: 100%;
   margin: 1em auto;
   -moz-box-shadow: 0 0 10px #888;
   -webkit-box-shadow: 0 0 10px #888;
   box-shadow: 0 0 10px #888;
   position: relative;
}
#header_wrap {
   margin: 0;
   width: 100%;
   overflow: hidden;
}

#header {
   float: right;
   width: 82%;
   margin-left: 14%;
   border-left: 3px double red;
   padding-left: 15px;
   padding-right: 15px;
   margin-top: -1px;
}
#header h1 {
   font-family: 'Permanent Marker', cursive, sans-serif;
   font-size: 2em;
   text-align: center;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
   color: black;
}
#margin {
   float: left;
   width: 13%;
   text-align: center;
}
#content_wrap {
    background-image: url(lines.png);
    background-size: 1em;
    -moz-background-size: 1em;
    -o-background-size: 1em;
    -webkit-background-size: 1em;
}
#content {
   margin-top: -1px;
   float: right;
   width: 82%;
   border-left: 3px double red;
   padding-top: 7px;
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom: 2em;
}
#content p a {
   background-image: url('underline.png');
   background-position: bottom center;
   background-repeat: repeat-x;
}
ul.links {
   margin-top: 1em;
   margin-bottom: 20px;
   font-size: 1.25em;
}
ul.links li {
   margin-top: -20px;
   margin-bottom: 28px;
   display: block;
   float: left;
   border-width: 5px;
   -moz-border-image: url(border.png) 5 5 5 5 stretch stretch;
   -webkit-border-image: url(border.png) 5 5 5 5 stretch stretch;
   -o-border-image: url(border.png) 5 5 5 5 stretch stretch;
   border-image: url(border.png) 5 5 5 5 stretch stretch;
}

ul.links li a {
   padding-left: 3px;
   padding-right: 3px;
}

ul.links li + li {
   margin-left: 0.75em;
}

.links li:nth-child(even) {
   -moz-transform: rotate(1deg);
   -webkit-transform: rotate(1deg);
   -o-transform: rotate(1deg);
   -ms-transform: rotate(1deg);
   transform: rotate(1deg);
}
.links li:nth-child(even):hover {
   -moz-transform: rotate(-2deg);
   -webkit-transform: rotate(-2deg);
   -o-transform: rotate(-2deg);
   -ms-transform: rotate(-2deg);
   transform: rotate(-2deg);
}
.links li:nth-child(odd) {
   -moz-transform: rotate(-1deg);
   -webkit-transform: rotate(-1deg);
   -o-transform: rotate(-1deg);
   -ms-transform: rotate(-1deg);
   transform: rotate(-1deg);
}
.links li:nth-child(odd):hover {
   -moz-transform: rotate(2deg);
   -webkit-transform: rotate(2deg);
   -o-transform: rotate(2deg);
   -ms-transform: rotate(2deg);
   transform: rotate(2deg);
}

#margin #hello {
   -moz-transform: rotate(-30deg);
   -webkit-transform: rotate(-30deg);
   -o-transform: rotate(-30deg);
   -ms-transform: rotate(-30deg);
   transform: rotate(-30deg);
   position: absolute;
   top: 1em;
   left: 1em;
}

#margin li {
   height: 2em;
   margin-top: 1px;
   text-align: center;
   font-size: 0.75em;
   margin-bottom: 0.67em;
}

#margin li img {
   display: block;
   margin: 0 auto;
}

#margin li:nth-child(even):hover {
   -moz-transform: rotate(-5deg);
   -webkit-transform: rotate(-5deg);
   -o-transform: rotate(-5deg);
   -ms-transform: rotate(-5deg);
   transform: rotate(-5deg);
}
#margin li:nth-child(odd):hover {
   -moz-transform: rotate(5deg);
   -webkit-transform: rotate(5deg);
   -o-transform: rotate(5deg);
   -ms-transform: rotate(5deg);
   transform: rotate(5deg);
}

#photo {
   background-image: url('photos/ottawa.jpg');
   width: 360px;
   height: 430px;
   position: relative;
   float: right;
   margin-right: -25px;
   margin-left: 15px;
   margin-top: -1.75em;
   background-position: 29px 31px;
   background-repeat:no-repeat;
   background-size: 302px 302px;
   -moz-background-size: 302px 302px;
   -o-background-size: 302px 302px;
   -webkit-background-size: 302px 302px;
   -moz-transform: rotate(-8deg);
   -webkit-transform: rotate(-8deg);
   -o-transform: rotate(-8deg);
   -ms-transform: rotate(-8deg);
   transform: rotate(-8deg);
}

#photo #polaroid {
   width: 360px;
   height: 430px;
   background-image: url(polaroid.png);
}

#photo .caption {
   display: block;
   font-family: 'Permanent Marker', cursive, sans-serif;
   font-size: 0.95em;
   position: absolute;
   top: 341px;
   text-align: center;
   width: 300px;
   left: 30px;
}

#photo .caption a {
   color: #333;
}

@media screen
and (max-width: 767px) {
   body {
      font-size: 150%;
   }
   #header h1 {
      font-size: 1.5em;
   }
   #hello {
      display: none;
   }
   #photo {
      -webkit-transform: rotate(-4deg);
      width: 200px;
      height: 239px;
      left: 0;
      right: 0;
      background-size: 168px;
      -webkit-background-size: 168px;
      -o-background-size: 168px;
      -moz-background-size: 168px;
      background-position: 17px 17px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0em;
      margin-bottom: 0.8em;
      float: none;
   }
   #photo #polaroid {
      width: 200px;
      height: 239px;
      background-size: 200px 239px;
      -webkit-background-size: 200px 239px;
      -moz-background-size: 200px 239px;
      -o-background-size: 200px 239px;
   }
   #photo .caption {
      top: 195px;
      width: 166px;
      left: 17px;
      font-size: 65%;
   }
   #page {
      margin: 0;
   }
   #content {
      padding-bottom: 1em;
   }
   #margin {
      float: right;
      width: 82%;
      border-left: 3px double red;
      padding-top: 7px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 0;
   }
   #margin {
      font-size: 150%;
   }
   #margin ul {
      font-size: 75%;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      overflow: hidden;
   }
   #margin ul li {
      display: block;
      float: left;
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-bottom: 1em;
      width: 20%;
   }
   #margin ul li:nth-child(even) {
      float: right;
   }
}
