ul.links li {
   background-image: url('underline.png');
   background-position: bottom center;
   background-repeat: repeat-x;
   padding-top: 5px;
   padding-bottom: 5px;
}

#photo {
   margin-right: -50px;
}

a {
   color: #242358;
}

#margin #hello {
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.866025403784439, M12=0.4999999999999993, M21=-0.4999999999999993, M22=0.866025403784439, SizingMethod='auto expand')";
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.866025403784439,
            M12=0.4999999999999993,
            M21=-0.4999999999999993,
            M22=0.866025403784439,
            SizingMethod='auto expand');
}

