.clearfix {
  zoom: 1;
	&:after {
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
        content: ".";
    }
}

body {
    font-family: 'Cardo', 'Times New Roman', 'Times', serif;
    color: #444;
}
h1, h2, h3, h4 {
    font-family: "Open Sans", sans-serif;
}
h4 {
    font-size: 150%;
    font-weight: normal;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

.resume > ul li h4 + p {
    padding-right: 2em;
    line-height: 1.5em;
}

.resume > ul li p:first-child {
    font-size: 175%;
    margin-bottom: 0;
}

.resume > ul ul li p:first-child {
    font-size: 100%;
}

.container {
    margin: 0 auto;
    padding: 0;
    background: whiteSmoke;
    border: solid #666;
    border-width: 8px 0 2px 0;
    text-align: left;
}

.resume {
    position:relative;
    padding: 10px 20px;
}

blockquote a, h3[id^="footer"] + p a {
    color: #990003;
}

a {
    text-decoration: none;
    color: inherit;
}

a[href$='.pdf'] {
    display: inline-block;
    background: #666;
    color: white;
    padding: 6px 12px;
    margin-bottom: 6px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

blockquote {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 18px auto;
    width: 100%;
    clear: both;
    border: none;
    border-top: 1px solid #CCC;
    font-size: 1px;
    line-height: 0;
    overflow: visible;
    page-break-after: avoid;
}

hr:first-of-type {
    margin-top: 36px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: bold;
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-style: italic;
    letter-spacing: -1px;
    font-weight: bold;
}

h3 {
    margin: 0px 20px 0 0;
    padding: 0 0 .5em;
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
}

h3+p {
    margin: .6em 0 16px;
    padding: 0;
    display: block;
    font-size: 104%;
    line-height: 24px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
}
ul li {
    margin: 0;
    padding: 0;
}

h3[id^=experience] + ul > li + li {
    margin-top: 2em;
}

ul ul, h3[id^="publications"] + ul {
    list-style: square outside none;
    li {
        margin-left: 2em;
    }
}

h3[id^="publications"] + ul {
    padding-top: 0.7em;
}

h3[id^="publications"] + ul li {
    width: auto;
    float: none;
    font-size: 80%;
}
h3[id^="publications"] + ul li + li {
    margin-top: 0.25em;
}

ol {
    margin: 0;
    padding: 0 0 .75em;
    width: 84%;
    display: inline-block;
}

ol li {
    margin: 0 0 0 1em;
    padding: 0;
    border-top: 1px solid #CCCCCC;
    width: 100%;
    float: left;
    list-style: none;
    line-height: 24px;
    font-size: 14px;
}
ol li:nth-child(1) {
    border-top: none;
}

ul li {
    font-size: 80%;
}

ul ul li {
    font-size: 100%;
}

ul li p {
    line-height: 1.4em;

    strong {
        display: block;
        white-space: nowrap;
    }
    em {
        display: block;
        font-size: 110%;
        margin: .15em 0 .5em;
        font-style: normal;
    }
}

h3[id^="footer"] {
    display: none;
}

h3[id^="footer"] + p {
    width: 100%;
    font-size: 11px;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #bcbcbc;
        background: black;
    }
    blockquote a, h3[id^="footer"] + p a {
        color: white;
    }
    .container {
        background: #0b0b0b;;
    }

}
