{{ partial "header" . }}
<div class="container clearfix">
    <main role="main" class="content">
        {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
        {{ if eq $paginator.PageNumber 1 }}
            <article class="post">
                {{ range .Data.Pages }}
                    {{if eq .RelPermalink "/index.html" }}
                            {{ .Content}}
                    {{ end }}
                {{ end }}
            </article>
        {{ end }}

        {{ range $paginator.Pages }}
            {{ .Render "summary" }}
        {{ end }}

        {{ if gt $paginator.TotalPages 0 }}
            {{ partial "pagination" . }}
        {{ end }}
    </main>

    {{ partial "author" . }}
</div>

{{ partial "footer" . }}
