.cell {
	float: left;
	width: 130px;
	height: 180px;
	border: 1px solid #597bb3;
	margin-top: 3px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 0;
	padding: 3px;
	text-align: center;
	font-size: 12px;
}

.cell img {
	border: none;
	float: none;
	margin: 0;
}

